/* css margins */
/* h1 {
    border-style:solid;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left:30px;
    margin-right:30px;
} */
/* h1 {
    border-style:solid;
    margin: 100px 30px 100px 30px;
}

div {
    width: 700px;
    margin-left:50px;
    border: 1px solid black;
}
p.center {
    margin-left: inherit;
} */

/* css padding */

/* h1 {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 30px;
    padding-right:30px;
    border: 1px solid black;
} */
/* h1 {
    padding: 50px 30px 50px 30px;
    border: 1px solid black;
} */
/* * {
    box-sizing:border-box;
}
h2 {
    background-color:yellow;
    width:300px;
    padding: 25px;
}

h1 {
    background-color:blueviolet;
    width:300px;
} */

/* div {
    max-width:200px;
    height:200px;
    width: 50%;
    background-color: powderblue;
} */

/* css outline */

/* div {
    width:30%;
    height:100px;
    background-color: yellow;
    padding: 20px;
    border:1px solid black;
    margin: 30px;
}

div.firstDiv {
    outline-width: 10px;
    outline-style: solid;
    outline-color: red;
    outline-offset: 15px;
}
div.secondDiv {
    outline-width: 10px;
    outline-style:ridge;
    outline-color: red;
}
div.thirdDiv {
    outline-width: 10px;
    outline-style: dotted;
    outline-color: red;
} */

/* css text */

/* h1 {
    color:green;
    background-color: lightgray;
} */

/* div {
    border: 1px solid black;
    padding: 10px;
    width:300px;
    height: 400px;
    text-align: justify;
    text-align-last: center;
} */
/* 
text-align:center -> başlıklar için kullanılabilir
text-align: justify ->uzun metinlerin düzenlenmesinde kullanılır. (sağa sola izalama)
 */

/* div > img {
    vertical-align: text-top;
} */

/* h1 {
    text-decoration-line: overline;
    text-decoration-color: red;
    text-decoration-style: double;
    text-decoration-thickness: 5px;
}
h2 {
    text-decoration-line: line-through;
    text-decoration-color: red;
    text-decoration-style: dotted;
    text-decoration-thickness: 5px;
}
h3 {
    text-decoration-line: underline;
    text-decoration-style: wavy;

} */

/* h1 {
    text-transform: uppercase;
}
h2 {
    text-transform: lowercase;
}
h3 {
    text-transform: capitalize;
} */

/* div {
    text-indent: 50px;
    letter-spacing: 1px;
    word-spacing: 15px;
    line-height: 1.5;
} */

/* h1 {
    text-shadow: 2px 2px red;
} */
/* blur-effect */
/* h1 {
    text-shadow: 2px 2px 4px red;
} */
/* h1 {
    text-shadow: 1px 1px yellow, 3px 3px 2px red, 4px 4px green;
} */

/* span {
    writing-mode: vertical-lr;
    color:red;
    text-align: left;
    height:100px;
} */

/* css-fonts */

/* h1 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;

}

p {
    font-style:italic;
    font-weight:bolder;
    font-variant:small-caps;
}

h2 {
    font-variant:small-caps;
} */

p.fontsize1 {
    font-family:'Times New Roman', Times, serif;
    font-size:48px;
}
p.fontsize2 {
    font-family: 'Times New Roman', Times, serif;
    font-size:3rem;
}
p.fontsize3 {
    font-family:'Times New Roman', Times, serif;
    font-size:5vw;
}